#cancel-event2 {width:200px; margin-left: -20%; margin-top: -7%; margin-bottom: -2%;}
#edit-event {display:inline-block; width:200px; margin-left: 500px; margin-bottom: -2%;}
#cancel-event {display:inline-block; width:200px; margin-left: 500px; margin-bottom: -2%;}
#close {width:200px; margin-left: 100px; margin-bottom: -2%; padding: 5px;}